/NamasteReact_Igniting_Our_App/.parcel-cache
/NamasteReact_Igniting_Our_App/dist
/NamasteReact_Igniting_Our_App/node_modules

/NamasteReact_Laying_The_Foundation/.parcel-cache
/NamasteReact_Laying_The_Foundation/dist
/NamasteReact_Laying_The_Foundation/node_modules